p {
  font-family: Lato, sans-serif;
}

#toolbarLeft {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.projectName {
  align-self: center;
}

.renameIcon {
  font-size: 14px;
  margin-left: 5px;
}

.toolbarBtn {
  margin: 10px;
}

#name-button-sep {
  width: 10px;
  display: inline-block;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

as-split-area {
  transition: background .2s;
  position: relative;
  overflow: hidden !important;
}

#pane-split {
  display: flex;

}

#splitter {
  height: calc(100vh - 64px);
}

#toolbar {
  display: flex;
  justify-content: space-between;
}
.toolbarText {
  font-size: 14px;
}
