p {
  font-family: Lato, sans-serif;
}

#toolbarLeft {
  font-size: 16px;
}

#name-button-sep {
  width: 10px;
  display: inline-block;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

as-split-area {
  transition: background .2s;
  position: relative;
  overflow: hidden !important;
}

#pane-split {
  display: flex;

}

#splitter {
  height: calc(100vh - 64px);
}
