<mat-toolbar id="toolbar">
  <div id="toolbarLeft">
    <h2 (click)="router.navigate(['/'])">BlocklyFlask</h2>
  </div>
  <div id="toolbarRight">
    <div *ngIf="authService.user">
      <app-project-name-input class="toolbarText" [click]="createProject" [showRequired]="false"></app-project-name-input>
      <button mat-stroked-button color="primary" class="toolbarBtn" [matMenuTriggerFor]="userMenu">@{{authService.user.username}}</button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item [routerLink]="['user', authService.user.username]">Profile</button>
        <button mat-menu-item>Account Settings</button>
        <button mat-menu-item (click)="authService.logout()">Logout</button>
      </mat-menu>
    </div>
    <div *ngIf="!authService.user">
      <button mat-stroked-button class="toolbarBtn" color="primary" routerLink="/login">Login</button>
      <button mat-stroked-button class="toolbarBtn" color="primary" routerLink="/sign-up">Sign Up</button>
    </div>
  </div>
</mat-toolbar>
<div class="router-wrapper">
  <router-outlet></router-outlet>
</div>
<mat-toolbar class="footer">
  <p class="footer-text">&copy; Hamish Cox, 2020 - <a href="https://github.com/HamishWHC/blocklyflask-frontend">Source Code
    on GitHub</a></p>
</mat-toolbar>
